#LeagueUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leagueUserCard {
  background-color: var(--main-card-color);
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 90%;
}

.leagueUserCardStocks {
  background-color: var(--main-user-color);
  border-radius: 1rem;
  margin: 0.25rem;
  padding: 0.5rem;
}

.leagueUserCardStocks h4 {
  margin: 0;
}

.LeagueDeets {
  font-size: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#LeagueCommentSection {
  background-color: var(--main-user-color);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
}

#LeagueCommentSection h4 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

#LeagueCreateComment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#LeagueCreateComment textarea {
  width: 75%;
  margin: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#LeagueCreateComment input[type="button"] {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--search-btn-color);
}

#LeagueCreateComment input[type="button"]:hover {
  background-color: var(--main-card-color);
}

.LeagueCreateCommentReply input[type="button"]:hover {
  background-color: var(--league-comment-reply-color);
}

.LeagueCreateCommentReply {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: center;
  width: 50%;
}

.LeagueCreateCommentReply textarea {
  width: 75%;
  margin: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.LeagueCreateCommentReply input[type="button"] {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--search-btn-color);
}

.LeagueComment {
  background-color: var(--main-card-color);
  border-radius: 0.5rem;
  margin: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LeagueComment .iuContainer {
  font-size: 1rem;
}

.LeagueCommentData {
  font-size: 1rem;
  padding: 0 1rem;
}

.LeagueComment > span > input[value="Edit"],
.LeagueCommentReply > span > input[value="Edit"] {
  border-radius: 1rem 0 0 1rem;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border: 0;
  margin: 0 0.15rem 0 0;
}

.LeagueComment > span > input[value="Delete"],
.LeagueCommentReply > span > input[value="Delete"] {
  border-radius: 0 1rem 1rem 0;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  border: 0;
  margin: 0 0.15rem 0 0;
}

.LeagueComment > span > input[value="Edit"]:hover,
.LeagueCommentReply > span > input[value="Edit"]:hover {
  background-color: var(--search-btn-color);
}
.LeagueComment > span > input[value="Delete"]:hover,
.LeagueCommentReply > span > input[value="Delete"]:hover {
  background-color: var(--del-btn-color);
}

.LeagueCommentReplySection {
  background-color: rgb(96, 101, 123);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.LeagueCommentReply {
  background-color: var(--league-comment-reply-color);
  margin: 0.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.LeagueCommentReply .circlePic {
  width: auto;
}

#LeagueJoinStocks {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#LeagueJoinStocks h4 {
  margin: 1rem 0;
}

#LeagueJoinStocks div {
  margin: 0.25rem 0;
}

#LeagueJoinStocks label {
  font-size: 1rem;
  margin: 0px 1rem;
}

#LeagueJoinStocks input,
#LeagueJoinStocks select,
#LeagueJoinStocks input[type="button"] {
  border-width: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#LeagueJoinStocks input[type="button"]:hover {
  background-color: var(--main-navbar-color);
}

#LeagueJoinStocks #StockOptList {
  background-color: var(--main-navbar-color);
  margin: 0.75rem 0;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 2rem;
}

#StockOptSelect option {
  border-width: 0px;

  border-radius: 1rem 0rem 0rem 1rem;
}

#StockOptSelect select:hover option:focus {
  /*background-color: red;*/
}

#StockOptSelect input[value="Pick"] {
  padding: 0.5rem 1.5rem;
  margin: 0 0 0 1rem;
}

#StockOptList h4 {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.MyStockOpt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.MyStockOpt p {
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  margin: 0.25rem 0;
}

#StockOptList .MyStockOpt input[value="delete"] {
  display: flex;
  background-color: var(--del-btn-color);
  margin: 0 0 0 1rem;
  border-radius: 1rem;
}

#StockOptList .MyStockOpt input[value="delete"]:hover {
  background-color: var(--del-btn-contrast-color);
}

#JoinLeagueBtn input[type="button"] {
  background-color: rgb(200, 230, 150);
}

#JoinLeagueBtn input[type="button"]:hover {
  background-color: rgb(100, 255, 100);
}

#JoinLeagueBtn input[type="button"] {
  padding: 0.75rem;
  border-width: 0px;
  border-radius: 0.5rem;
  background-color: rgb(30, 230, 130);
}

#JoinLeagueBtn input[type="button"]:hover {
  background-color: rgb(130, 230, 130);
}

.pl {
  margin: 0.5rem 0;
}

/*dark palette*/
.dark #StockOptSelect input[type="button"] {
  background-color: var(--search-btn-color);
}

.dark #StockOptSelect input[type="button"]:hover {
  background-color: var(--search-btn-contrast-color);
}

.dark .MyStockOpt input[value="delete"] {
  background-color: var(--del-btn-color);
}

.dark .MyStockOpt input[value="delete"]:hover {
  background-color: var(--del-btn-contrast-color);
}

.dark #StockOptList h4 {
  color: var(--search-btn-color);
}

.dark #JoinLeagueBtn input[type="button"] {
  background-color: rgb(200, 230, 150);
}

.dark #JoinLeagueBtn input[type="button"]:hover {
  background-color: rgb(100, 255, 100);
}

.commentIcon {
}
.commentIcon:hover {
  color: red;
}
