.skeleton {
  background-color: var(--skeleton-placeholder-color);
}

.skeleton.divA {
  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;
  float: right;
  color: var(--skeleton-placeholder-color);
  border-radius: 100%;
  font-weight: 500;
  border-width: 2px;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  text-decoration: none;
  position: relative;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0;
  padding: 0;
  /* margin-left: 6.125rem; */
}
