.deleteBtn {
  background-color: hsl(0, 100%, 35%);
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem;
  font-size: 1rem;
  font-weight: 700;
}
.deleteBtn:hover {
  background-color: hsl(0, 100%, 40%);
  font-size: 1.0125rem;
}
