.NavbarLogoBtn {
  width: auto;
  height: 2rem;
  float: left;
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-font-color-dark);
  font-weight: bolder;
  border-style: none;
  border-radius: 1rem;
  text-decoration: none;
  padding: 0 0 0 0.5rem;
  user-select: none;
}
