.friendblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  border: 0;
  border-radius: 1rem;
  width: 100%;
}
.friendblock:hover {
  background-color: var(--main-navbar-color);
  transform: scale(1.0125);
}

.friendusername {
  margin: 1rem;

  width: 100%;
  height: 100%;

  word-wrap: break-word;
  text-align: center;
}

.FriendContainer {
  /* margin-bottom: 10rem;
  padding: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.FriendMainContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.unfriendfriend {
  margin: 0.25rem 0.5rem 0.25rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(0, 100%, 45%);
  color: white;
}

.unfriendfriend:hover {
  background-color: hsl(0, 100%, 47.5%);
  transform: scale(1.025);
}

.msgfriend {
  margin: 0.25rem 0.5rem 0.25rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(120, 49%, 45%);
  color: white;
}
.msgfriend:hover {
  background-color: hsl(120, 49%, 50%);
  transform: scale(1.025);
}

.friendbaradderbtn {
  margin: 0;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.5rem;
  border-width: 0;
}

.friendadderbar {
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem;
  width: 15rem;
  border-width: 0;
}

.friendadderbar:focus {
  outline: none;
}

.FriendInput {
  display: inline-flex;
  height: 2rem;
  margin: 2rem 0 2rem 2rem;
  width: 24rem;
}

.FriendContainerHeader {
  border-bottom: 1px solid var(--main-line-color);
}

@media (max-width: 991px) {
  .friendadderbar {
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.5rem;
    width: 100%;
    border-width: 0;
  }

  .friendbaradderbtn {
    margin: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.5rem;
    border-width: 0;
  }

  .FriendInput {
    width: 100%;
    max-width: 24rem;
    margin-left: 0;
    margin-right: 0;
  }
}
