.VerticalNavbarIcons1 {
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
  transition: 0.25s;
  border-radius: 0.5rem;
  text-decoration: none;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.VerticalNavbarIcons1:hover {
  background-color: white;
  color: black;
}
.VerticalNavbarIcons2 {
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
  transition: 0.25s;
  border-radius: 100%;
  text-decoration: none;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.VerticalNavbarIcons2:hover {
  background-color: white;
  color: black;
}
