.iconCard {
  border: 0.25rem solid black;
  border-radius: 1rem;
  width: 20rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0.5rem;
  display: inline-flex;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.125);
}
.iconCard:hover {
  background-color: hsla(0, 0%, 50%, 0.5);
}

.iconCard:hover > .iconShow {
  transform: scale(1.15);
}

.iconShow {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.iconName {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.iconPrice {
  font-size: 1rem;
  padding: 0.5rem;
}

.iconContainer {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#iconContainerContainer {
  display: flex;
  align-items: center;
}

.iconBuy {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: lightgray;
}

.iconBuy:hover {
  background-color: hsl(0, 0%, 90%);
  transform: scale(1.05);
}

@media screen and (max-width:600px) {
  .iconContainer {
    width: ;
}

}