.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  /* background: rgb(255, 0, 0);
  background: linear-gradient(
    150deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(244, 254, 0, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  ); */
  --main-bg-color: hsl(220, 13%, 82%);
  --main-bg-contrast-color: hsl(0, 0%, 0%);
  --main-navbar-color: hsla(220, 13%, 87%, 0.82);
  --card-color: hsl(220, 13%, 78%);
  --skeleton-placeholder-color: hsl(220, 13%, 78%);

  --main-font-color: hsl(0, 0%, 0%);
  --secondary-font-color: hsl(0, 0%, 14%);
  --main-font-contrast-color: hsl(0, 0%, 100%);
  --text-shadow-color: hsl(0, 0%, 100%);

  --sign-in-btn-color: hsl(193, 95%, 32%);

  --floating-tab-color: hsla(0, 0%, 100%, 0.5);
  --floating-contrast-tab-color: hsla(220, 13%, 82%, 0.5);

  --search-btn-color: rgb(208, 208, 208);
  --search-btn-contrast-color: rgb(201, 201, 201);
}

body.light {
  text-align: center;
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;

  --main-bg-color: hsl(220, 13%, 82%);
  --main-bg-contrast-color: hsl(0, 0%, 0%);
  --main-navbar-color: hsla(220, 13%, 87%, 0.82);
  --card-color: hsl(220, 13%, 78%);
  --skeleton-placeholder-color: hsl(220, 13%, 78%);

  --main-font-color: hsl(0, 0%, 0%);
  --secondary-font-color: hsl(0, 0%, 14%);
  --main-font-contrast-color: hsl(0, 0%, 100%);
  --text-shadow-color: hsl(0, 0%, 100%);

  --sign-in-btn-color: hsl(193, 95%, 32%);

  --floating-tab-color: hsla(0, 0%, 100%, 0.5);
  --floating-contrast-tab-color: hsla(220, 13%, 82%, 0.5);

  --search-btn-color: rgb(208, 208, 208);
  --search-btn-contrast-color: rgb(201, 201, 201);
}

body.dark {
  text-align: center;
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;

  --main-bg-color: #282c34;
  --main-bg-contrast-color: white;
  --main-navbar-color: #1d2026d1;
  --card-color: hsl(219, 13%, 22%);
  --skeleton-placeholder-color: hsl(220, 13%, 22%);

  --main-font-color: white;
  --secondary-font-color: #dcdcdc;
  --main-font-contrast-color: black;
  --text-shadow-color: black;

  --sign-in-btn-color: #61dafb;

  --floating-tab-color: rgba(0, 0, 0, 0.5);
  --floating-contrast-tab-color: rgba(40, 44, 52, 0.5);

  --search-btn-color: rgb(208, 208, 208);
  --search-btn-contrast-color: rgb(201, 201, 201);
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-font-color);
  text-shadow: 5px 4px 4px var(--text-shadow-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App-link {
  color: var(--sign-in-btn-color);
}
