.skeleton {
  background-color: var(--skeleton-placeholder-color-dark);
  margin: 10px 0;
  border-radius: 4px;
}

.skeleton.div {
  width: 35.5rem;
  height: 20rem;
  margin: 2.2rem 0;
  min-width: 14rem;
  border-radius: 1rem;
}

.skeleton.h1 {
  width: 100%;
  height: 5rem;
  margin: 3rem 0;
  min-width: 14rem;
}

.skeleton.h2 {
  width: 100%;
  height: 3.5rem;
  margin: 3rem 0;
  min-width: 14rem;
}
