#StockPrices {
  display: table;
  width: 100%;

  border-spacing: 0 1rem;
  border-collapse: separate;
}

.StockPriceRow:hover {
  background-color: var(--main-navbar-color);
  transform: scale(1.0125);
}

.StockPriceRow > td {
  text-align: left;
  padding: 1rem;
}

.StockPriceRow > td:first-child {
  border-top-left-radius: 0.5rem;
}
.StockPriceRow > td:last-child {
  border-top-right-radius: 0.5rem;
}

.StockPriceRow > td:first-child {
  border-bottom-left-radius: 0.5rem;
}
.StockPriceRow > td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.StockPriceRow > td:nth-child(4) {
  text-align: right;
}

#StockPrices > div {
  display: flex;
}

#StockPrices > div:nth-child(4n) {
  justify-content: flex-end;
}

.StockPricesContainer {
  width: 90%;
}

.stockCard {
  background-color: var(--card-color);
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  width: 13rem;
}

.StockPriceName {
  font-size: 1rem;
}

.StockPriceSector {
  font-size: 1rem;
  font-style: italic;
}

.StockPricePrice {
  font-size: 1.25rem;
}

.StockPriceTicker {
  font-size: 1.5rem;
  font-weight: bold;
}
