.userTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userPic {
  display: inline-block;
  border: 0.25rem solid var(--main-bg-contrast-color);
  border-radius: 100%;
  padding: 0.125rem;
  margin-top: 6rem;
}

.userPic img {
  border-radius: 100%;
  display: flex;
}

.userIcon {
  width: 2.5rem;
  margin: 0 0.5rem;
}

.userIDstring {
  font-size: 1rem;
  margin: 0;
}

.addFriendBtn {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: none;

}

.addFriendBtn:hover {
  background-color: rgb(30, 230, 130);
}