.editBtn {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 3rem;
}

.profileTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePic {
  display: inline-block;
  border: 0.25rem solid var(--main-bg-contrast-color);
  border-radius: 100%;
  padding: 0.125rem;
}

.profilePic img {
  border-radius: 100%;
  display: flex;
}

.userIcon {
  width: 2.5rem;
  margin: 0 0.5rem;
}

#editProfile {

}

#editProfile, #editProfileSave, #editProfileName, #editProfileBio, #editProfileIcon {
  border-radius: 0.5rem;
  border: 0;
  padding: 0.5rem;
}

#editProfileName {

}

#editProfileBio {

}

#editProfileIcon {

}

#editProfileSave button {
  border-radius: 0.5rem;
  border: 0;
  margin: 1rem;
  padding:  0.5rem 1.5rem;
}

#editProfileSave button:hover {
  background-color: rgb(30, 230, 130);
  border: none;
  border-radius: 2rem;
}
