.editBtn {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 3rem;
}

#profileTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
  background-color: hsla(0, 0%, 50%, 0.5);
  border-radius: 1rem;
  padding:0.25rem 2rem;

}

.profilePic {
  display: inline-block;
  border: 0.25rem solid var(--main-bg-contrast-color);
  border-radius: 100%;
  padding: 0.125rem;
}

.profilePic img {
  border-radius: 100%;
  display: flex;
}

#biolmt, #namelmt {
  font-size: 0.75rem;
  font-style: italic;

}


#profileIDstring {
  font-size: 1rem;
  margin: 1rem;
}

.userIcon {
  width: 2.5rem;
  margin: 0 0.5rem;
}

#profileBio {
  background-color: var(--main-navbar-color);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 80vw;
  word-wrap: break-word;
  white-space: normal;
}

#editProfile {
  border: 0;
  padding: 0.5rem;
}

#editProfileSave, #editProfileName input, #editProfileBio textarea, #editProfileIcon select{
  border-radius: 0.5rem;
  margin:  0.5rem;
  padding: 0.5rem;
}

#editProfileName input{
  padding-left: 1rem;
}

#editProfileBio textarea{
  word-wrap: break-word;
  white-space: normal;
  max-width: 80vw;
}

#editProfileIcon {

}

#editProfileSave button {
  border-radius: 2rem;
  border: 0;
  margin: 1rem;
  padding:  0.5rem 2rem;
}

#editProfileSave button:hover {
  background-color: rgb(30, 230, 130);
  border: none;
  transform: scale(1.1);
}
